### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [33]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_file = "Resources/schools_complete.csv"
student_data_file = "Resources/students_complete.csv" 

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data_file)
student_data_df = pd.read_csv(student_data_file)

school_data_df.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [34]:
student_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [35]:
# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name", "school_name"])
school_data_complete_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [36]:
#check for incomplete rows
school_data_complete_df.count()
#all records are complete

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

## School Summary

In [37]:
#calculate total number of schools
schools_count = len(school_data_complete_df["school_name"].unique())
schools_count
#code below gives an array of the school names
#school_data_complete_df["school_name"].unique()
#note that .value_counts would give you the count of every school's occurrence

15

In [38]:
#calculate total number of students - use student ID assuming there are some name duplicates
studentID_count = len(school_data_complete_df["Student ID"].unique())
studentID_count 
#studentname_count = len(school_data_complete_df["student_name"].unique())
#studentname_count

39170

In [103]:
#calculate total budget
total_budget = school_data_df["budget"].sum()
total_budget_format = '${:,.0f}'.format(school_data_df["budget"].sum())

In [45]:
#Calculate the average math score
avg_math = round(school_data_complete_df["math_score"].mean(),2)
#Calculate the average reading score
avg_reading = round(school_data_complete_df["reading_score"].mean(),2)

78.99
81.88

In [86]:
#Calculate the percentage of students with a passing math score (70 or greater)
pass_math_df = school_data_complete_df.loc[school_data_complete_df["math_score"] >= 70]
num_pass_math = pass_math_df["Student ID"].count()
math_percent = '{:,.2f}'.format((num_pass_math/studentID_count)*100)

#Calculate the percentage of students with a passing reading score (70 or greater)
pass_reading_df = school_data_complete_df.loc[school_data_complete_df["reading_score"] >= 70]
num_pass_reading = pass_reading_df["Student ID"].count()
reading_percent = '{:,.2f}'.format((num_pass_reading/studentID_count)*100)

#Calculate the percentage of students who passed math and reading (% Overall Passing)
pass_both_df = school_data_complete_df.loc[(school_data_complete_df["reading_score"] >= 70) & (school_data_complete_df["math_score"] >= 70)]
num_pass_both = pass_both_df["Student ID"].count()
pass_both_percent = '{:,.2f}'.format((num_pass_both/studentID_count)*100)
pass_both_percent

'65.17'

In [105]:
#Create a dataframe to hold the above results: schools_count, total_budget, studentID_count, avg_math, 
#avg_reading, math_percent, reading_percent, pass_both_percent
dist_summary_df = pd.DataFrame({"Number of Schools": schools_count, "Total Budget": total_budget_format, 
                                "Number of Students": studentID_count, "Avg Math Score": avg_math, 
                                "Avg Reading Score": avg_reading, "Percent Passing Math": math_percent,
                               "Percent Passing Reading": reading_percent, "Percent Overall Passing": pass_both_percent}, index=[0])
dist_summary_df
#Optional: give the displayed data cleaner formatting

,Number of Schools,Total Budget,Number of Students,Avg Math Score,Avg Reading Score,Percent Passing Math,Percent Passing Reading,Percent Overall Passing
0,15,"$24,649,428",39170,78.99,81.88,74.98,85.81,65.17

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [ ]:
#get count of students per school - use occurrence of school in school_data_complete_df
stu_count = school_data_complete_df["school_name"].value_counts()

In [ ]:
#try getting count of students using groupby

grouped_schools_df =

In [ ]:
#once get variables above, make a dictionary with the variables keyed to school name (this will be the summary_df)

In [ ]:
#summary_df = pd.DataFrame({"Number of Students": [stu_count]})
#summary_df

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type